#page-report {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-report aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-report aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 80px;
}

#page-report aside p {
    line-height: 28px;
    margin-top: 40px;
}

#page-report footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#page-report footer strong{
   font-weight: 800;
}

#page-report aside header .img-logo {
    display: flex;
    justify-content: center;
    
    margin-right: 215px;
    height: 80px;
}

#page-report .rightBlockReport {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(329.54deg, #ffffff 0%, #95f1f1 100%);
}

#page-report .rightBlockReport .styleTitleBlock {
    width: 90%;
    height: 7%;

    display : flex;
    align-items: center;
    justify-content: center;

    background: #ffd666;
    border-radius: 0.5rem;

    margin-top: 47px;
    margin-left: 5%;
}   

#page-report .rightBlockReport .styleTitleBlock h2 {
    display: flex;
    align-items: center;

    color: #222;

    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
}

#page-report .rightBlockReport .blockReportForm {
    width: 90%;
    height: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 49px;
    margin-left: 5%;

    background: rgba(255, 255, 255, 0.952);
    border-radius: .8rem;

    box-shadow: 5px 5px 15px black ;
}

#page-report .rightBlockReport .blockReportForm {
    display: flex;
    align-items: center;
}

#page-report .rightBlockReport .blockReportForm fieldset{
    border: 0;
    padding: 0 2.4rem;
}