#page-AdminAcess{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);   
}

#page-AdminAcess .spaceLogo .logo{
    max-height: 80px;
    height: 100%;
    display: flex;
    align-items: baseline;

    font-size: 20px;
}

#page-AdminAcess .spaceLogo .logo img{
    display: flex;
    align-items: baseline;
    height: 40px;
    margin-right: 5px;
    margin-top: 4vh;
    margin-left: 3vh;
}

#page-AdminAcess .content-wrapper {
    width: 95%;
    max-width: 488px;
    
    height: 100%;
    max-height: 576px;

    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.952);
    border-radius: .8rem;
}
#page-AdminAcess .content-wrapper header{
    width: 100%;
}

#page-AdminAcess .content-wrapper header .tolbarLogin h1{
    line-height: 40px;
    color: #222;
    margin-top: 50px;
}

#page-AdminAcess .content-wrapper header .tolbarLogin a{
    margin-bottom: 50px;
}

#page-AdminAcess .content-wrapper header .tolbarLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-AdminAcess .content-wrapper main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-AdminAcess .content-wrapper main .content{
    width: 350px;
}

.formGroup-Credentials form{
    display: flex;
    flex-direction: column;
}

#page-AdminAcess main .content .formGroup-Credentials .sendButtonAdminAcess {
    margin: auto;

    width: 270px;
    height: 85px;
    background: #ffd666;
    border-radius: 30px;

    transition: background-color 0.2s;

    font-size: 17px;
    font-weight: 700;
}

#page-AdminAcess main .content .formGroup-Credentials .sendButtonAdminAcess:hover {
    background: #96feff;
}


.formGroup-Credentials form input[type=text], .formGroup-Credentials form input[type=password]{
    border-radius: 10px;

    height: 45px;
    border: 1px solid #ccc;
    margin: 10px 0;
}



@media(max-width: 910px){
    #page-AdminAcess .spaceLogo .logo{
       display: none;
    }
}
