#page-denunciations{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);   
}

#page-denunciations .spaceLogo .logo{
    max-height: 80px;
    height: 100%;
    
    display: flex;
    align-items: baseline;

    font-size: 20px;
}

#page-denunciations .spaceLogo .logo img{
    display: flex;
    align-items: baseline;

    height: 40px;
    margin-right: 5px;
    margin-top: 4vh;
    margin-left: 3vh;
}

#page-denunciations .content-wrapper {
    width: 95%;
    max-width: 488px;

    height: 100%;
    max-height: 576px;
    
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 

    background-color: rgba(255, 255, 255, 0.952);
    border-radius: .8rem;
}

#page-denunciations .content-wrapper header{
    width: 100%;
}

#page-denunciations .content-wrapper header .tolbarDenunciations h1{
    line-height: 20px;
    color: #222;
    margin-top: 50px;
}

#page-denunciations .content-wrapper header .tolbarDenunciations a{
    margin-bottom: 40px;
    margin-top: 20px;
}

#page-denunciations .content-wrapper header .tolbarDenunciations{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-denunciations .content-wrapper main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-denunciations .content-wrapper .buttonChoice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#page-denunciations .content-wrapper .buttonChoice a {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.5rem 0;

    text-decoration: none;
    width: 300px;
    height: 80px;
    background: #ffd666;
    border-radius: 1.5rem;
    
    transition: background-color 0.2s;
}

#page-denunciations .content-wrapper .buttonChoice a:hover {
    background: #96feff;
}

#page-denunciations .content-wrapper main .alert{
    padding: 0rem 0;
    width: 75%;
    
    margin-top: 10%;
}

#page-denunciations .content-wrapper main .alert p{
    color: #222;
    text-align: justify;
}

@media(max-width: 910px){
    
    #page-denunciations .spaceLogo .logo{
       display: none;
    }

    #page-denunciations .content-wrapper .buttonChoice{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 192px;

        width: 100%;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    #page-denunciations .content-wrapper .buttonChoice a {
        display: flex;
        align-items: center;
        justify-content: center;
    
        text-decoration: none;
        width: 80%;
        height: 10vh;
        background: #ffd666;
        border-radius: 20px;
    }

    #page-denunciations .content-wrapper main .alert{
        padding: 0;
        width: 75%;
        align-items: baseline;
    }

    #page-denunciations .content-wrapper main .alert p{
        font-size: 13px;
    }
}
